body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
    color: white;
}

.container {
    background-color: #2e3444;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    max-width: 350px;
}

#content {
    padding: 5px 12px;
}

.content1 {
    max-width: 300px;
}

#heading {
    color: green;
}

button {
    /* background-color: rgb(10, 196, 134); */
    background: transparent;
    border: none;
    border-radius: 100%;
    /* padding: 10px; */
}

button:hover {
    border-color: aqua;
    color: white;
    box-shadow: 0 0 0.1em 10px rgb(57, 161, 127);
    /* box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(57, 161, 127); */
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}

.line {
    width: 40%;
    height: 1px;
    top: 8px;
    position: absolute;
    background: #4f5d74;
}

.shortbar {
    width: 5%;
    height: 16px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.shortbar2 {
    background: #cee3e9;
    border-radius: 3px;
}